@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Lato-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Lato-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/Lato-LightItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/Lato-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/Merriweather-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/Merriweather-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/Merriweather-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 300;
    src: url(/fonts/Merriweather-LightItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 400;
    src: url(/fonts/Merriweather-Italic.ttf) format('truetype');
}
@font-face {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 700;
    src: url(/fonts/Merriweather-BoldItalic.ttf) format('truetype');
}
