/* Global reset and styles adapted from: https://piccalil.li/blog/a-modern-css-reset/ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-y: scroll;
}

body {
    font-family: Lato, sans-serif;
    color: #313537;
    line-height: 1.5;
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.loadingSpinner {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
}

.loadingSpinner > svg {
    animation: 1.4s linear infinite rotate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
