.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
    box-sizing: border-box;
    width: calc(100% - 2rem);
    max-width: 92rem;
    padding: 0 2rem;
    margin-bottom: 5rem;
    min-height: 1px;
}

@media screen and (min-width: 540px) {
    .contentContainer {
        padding: 0 3rem;
    }
}

@media screen and (min-width: 840px) {
    .contentContainer {
        padding: 0 1.5rem;
        width: 83.33333%;
    }
}
