.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

.username {
    padding: 1em;
    font-size: 1.5em;
    font-weight: 600;
}

.userImg {
    width: 5em;
    height: 5em;
    overflow: hidden;
    border-radius: 50%;
}

.userImg img {
    width: 100%;
    position: relative;
    top: -5px;
}
