.knowledgeCheck {
    padding-bottom: 1.7rem;
}

.question {
    padding: 0 0 1.5rem;
    border-bottom: 1px solid #eaeaeb;
}

.text {
    margin-bottom: 1rem;
}

.answers {
    padding: 1rem 0;
    margin-bottom: 1.5rem;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results button {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.results button {
    font-family: Lato, sans-serif;
    letter-spacing: .02em;
}

.results p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .3rem;
    margin-bottom: 1.5rem;
    max-height: 74rem;
    line-height: 1.7;
    font-family: Merriweather, serif;
    font-weight: 300;
    font-size: 1.4rem;
    word-wrap: break-word;
    color: #707070;
    text-align: center;
}

.feedback {
    background-color: #f8f8f8;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results button svg {
    margin-top: 0.5rem;
    transform: rotate(90deg) rotateX(180deg)
}
