.optionContainer {
    width: 100%;
    position: relative;
}

.optionSignifiers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 99;
}

.optionOutline {
    height: 100%;
    width: 100%;
    border: 3px solid #747a7e;
    transform: scaleX(0);
    transform-origin: top left;
    opacity: 0;
    transition: transform 0.5s, opacity 0.2s;
}

.radioIndicator {
    position: absolute;
    left: 2rem;
    top: calc(50% - 1rem);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid #8a8c8d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radioIndicator:after {
    content: '';
    position: absolute;
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
    background: #8a8c8d;
    transform: scale(0%) translateX(0.3rem) translateY(0.3rem);
    transform-origin: center center;
    opacity: 1;
    transition: transform 0.3s, opacity 0.5s;
}

.radioIndicator.selectedIndicator:after {
    transform: scale(1);
}

.radioIndicator svg {
    transition: opacity 0.5s, transform 0.3s;
    opacity: 0;
    transform: scale(0);
}

.optionText {
    display: flex;
    position: relative;
}

.optionText:hover {
    background-color: #f7f7f8;
}

.radio {
    display: none;
}

.label {
    padding: 3rem 5rem 3rem 11rem;
    font-size: 1.5rem;
    line-height: 2rem;
    width: 100%;
    cursor: pointer;
}

.showResults .optionText:hover {
    background-color: transparent;
}

.showResults .label:hover {
    cursor: default;
}

.showResults .optionOutline {
    transform: scaleX(1);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s 0.2s;
}

.showResults .radioIndicator svg {
    opacity: 1;
    transform: scale(1);
}

.showResults .radioIndicator:after {
    opacity: 0;
    transform: scale(0);
}
