.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 104em;
    margin: auto;
}

@media screen and (min-width: 540px) {
    .pageWrapper {
        padding: 2rem;
    }
}
